<nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://www.thetrailerbox.com/images/Convert/2Minions-Black.png" alt="Logo" style="width:5vw;">
    </a>
</nav>
<h1 class="text-center">Minions<br>Store</h1>
<%= render partial: "minions/card" %>