<p>
  <strong>Nome:</strong>
  <%= @minion.nome %>
</p>

<p>
  <strong>Reservado:</strong>
  <%= @minion.reservado %>
</p>

<%= link_to 'Edit', edit_minion_path(@minion) %> |
<%= link_to 'Back', minions_path %>
