<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Teste de e-mail com Ruby On Rails!!! </p>
    <%= yield %>
  </body>
</html>
