/*
*= require bootstrap.min.css
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

body{
    background-color: black;
}
h1{
    color: #ffffff;
    font-family: 'Nova Flat', cursive;
    text-shadow: 1.2px 1.2px 5px #ffffff;
    font-size: 6em;
    font-weight: 100;
}
nav{
    background-color: #fff;
    border-bottom: 2px #ff2323 bold;
}